吊牌打印/PrintTest/addition/PrintTest_/Web References/WebService/LabelPrint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="list">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="datestart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateend" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="orderDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="orderDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="orderItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="orderItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ItemInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BarCodeOrderId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="barcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BarCodeOrderIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeOrderIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BarCodeDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="barcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BarCodeDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BarCodeDetailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="listSoapIn">
    <wsdl:part name="parameters" element="tns:list" />
  </wsdl:message>
  <wsdl:message name="listSoapOut">
    <wsdl:part name="parameters" element="tns:listResponse" />
  </wsdl:message>
  <wsdl:message name="orderDetailSoapIn">
    <wsdl:part name="parameters" element="tns:orderDetail" />
  </wsdl:message>
  <wsdl:message name="orderDetailSoapOut">
    <wsdl:part name="parameters" element="tns:orderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="orderItemSoapIn">
    <wsdl:part name="parameters" element="tns:orderItem" />
  </wsdl:message>
  <wsdl:message name="orderItemSoapOut">
    <wsdl:part name="parameters" element="tns:orderItemResponse" />
  </wsdl:message>
  <wsdl:message name="ItemInfoSoapIn">
    <wsdl:part name="parameters" element="tns:ItemInfo" />
  </wsdl:message>
  <wsdl:message name="ItemInfoSoapOut">
    <wsdl:part name="parameters" element="tns:ItemInfoResponse" />
  </wsdl:message>
  <wsdl:message name="BarCodeOrderIdSoapIn">
    <wsdl:part name="parameters" element="tns:BarCodeOrderId" />
  </wsdl:message>
  <wsdl:message name="BarCodeOrderIdSoapOut">
    <wsdl:part name="parameters" element="tns:BarCodeOrderIdResponse" />
  </wsdl:message>
  <wsdl:message name="BarCodeDetailSoapIn">
    <wsdl:part name="parameters" element="tns:BarCodeDetail" />
  </wsdl:message>
  <wsdl:message name="BarCodeDetailSoapOut">
    <wsdl:part name="parameters" element="tns:BarCodeDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="LabelPrintSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="list">
      <wsdl:input message="tns:listSoapIn" />
      <wsdl:output message="tns:listSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="orderDetail">
      <wsdl:input message="tns:orderDetailSoapIn" />
      <wsdl:output message="tns:orderDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="orderItem">
      <wsdl:input message="tns:orderItemSoapIn" />
      <wsdl:output message="tns:orderItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ItemInfo">
      <wsdl:input message="tns:ItemInfoSoapIn" />
      <wsdl:output message="tns:ItemInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BarCodeOrderId">
      <wsdl:input message="tns:BarCodeOrderIdSoapIn" />
      <wsdl:output message="tns:BarCodeOrderIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BarCodeDetail">
      <wsdl:input message="tns:BarCodeDetailSoapIn" />
      <wsdl:output message="tns:BarCodeDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LabelPrintSoap" type="tns:LabelPrintSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap:operation soapAction="http://tempuri.org/list" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderDetail">
      <soap:operation soapAction="http://tempuri.org/orderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderItem">
      <soap:operation soapAction="http://tempuri.org/orderItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemInfo">
      <soap:operation soapAction="http://tempuri.org/ItemInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarCodeOrderId">
      <soap:operation soapAction="http://tempuri.org/BarCodeOrderId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarCodeDetail">
      <soap:operation soapAction="http://tempuri.org/BarCodeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LabelPrintSoap12" type="tns:LabelPrintSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="list">
      <soap12:operation soapAction="http://tempuri.org/list" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderDetail">
      <soap12:operation soapAction="http://tempuri.org/orderDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderItem">
      <soap12:operation soapAction="http://tempuri.org/orderItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ItemInfo">
      <soap12:operation soapAction="http://tempuri.org/ItemInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarCodeOrderId">
      <soap12:operation soapAction="http://tempuri.org/BarCodeOrderId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BarCodeDetail">
      <soap12:operation soapAction="http://tempuri.org/BarCodeDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LabelPrint">
    <wsdl:port name="LabelPrintSoap" binding="tns:LabelPrintSoap">
      <soap:address location="http://192.168.35.14:88/service/LabelPrint.asmx" />
    </wsdl:port>
    <wsdl:port name="LabelPrintSoap12" binding="tns:LabelPrintSoap12">
      <soap12:address location="http://192.168.35.14:88/service/LabelPrint.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>