吊牌打印/PrintTest/Web References/SrvSysBace/ServiceLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Customers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CustomersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Stocks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tzid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StocksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StocksResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="billUpload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="billUploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="billUploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardSn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonerInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonerInfoNoEncrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CardSn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PersonerInfoNoEncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PersonerInfoNoEncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="opwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="npwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginInSoapIn">
    <wsdl:part name="parameters" element="tns:LoginIn" />
  </wsdl:message>
  <wsdl:message name="LoginInSoapOut">
    <wsdl:part name="parameters" element="tns:LoginInResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersSoapIn">
    <wsdl:part name="parameters" element="tns:Customers" />
  </wsdl:message>
  <wsdl:message name="CustomersSoapOut">
    <wsdl:part name="parameters" element="tns:CustomersResponse" />
  </wsdl:message>
  <wsdl:message name="StocksSoapIn">
    <wsdl:part name="parameters" element="tns:Stocks" />
  </wsdl:message>
  <wsdl:message name="StocksSoapOut">
    <wsdl:part name="parameters" element="tns:StocksResponse" />
  </wsdl:message>
  <wsdl:message name="billUploadSoapIn">
    <wsdl:part name="parameters" element="tns:billUpload" />
  </wsdl:message>
  <wsdl:message name="billUploadSoapOut">
    <wsdl:part name="parameters" element="tns:billUploadResponse" />
  </wsdl:message>
  <wsdl:message name="PersonerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:PersonerInfo" />
  </wsdl:message>
  <wsdl:message name="PersonerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:PersonerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="PersonerInfoNoEncryptSoapIn">
    <wsdl:part name="parameters" element="tns:PersonerInfoNoEncrypt" />
  </wsdl:message>
  <wsdl:message name="PersonerInfoNoEncryptSoapOut">
    <wsdl:part name="parameters" element="tns:PersonerInfoNoEncryptResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginIn">
      <wsdl:input message="tns:LoginInSoapIn" />
      <wsdl:output message="tns:LoginInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Customers">
      <wsdl:input message="tns:CustomersSoapIn" />
      <wsdl:output message="tns:CustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Stocks">
      <wsdl:input message="tns:StocksSoapIn" />
      <wsdl:output message="tns:StocksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="billUpload">
      <wsdl:input message="tns:billUploadSoapIn" />
      <wsdl:output message="tns:billUploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonerInfo">
      <wsdl:input message="tns:PersonerInfoSoapIn" />
      <wsdl:output message="tns:PersonerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PersonerInfoNoEncrypt">
      <wsdl:input message="tns:PersonerInfoNoEncryptSoapIn" />
      <wsdl:output message="tns:PersonerInfoNoEncryptSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginIn">
      <soap:operation soapAction="http://tempuri.org/LoginIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Customers">
      <soap:operation soapAction="http://tempuri.org/Customers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stocks">
      <soap:operation soapAction="http://tempuri.org/Stocks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="billUpload">
      <soap:operation soapAction="http://tempuri.org/billUpload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonerInfo">
      <soap:operation soapAction="http://tempuri.org/PersonerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonerInfoNoEncrypt">
      <soap:operation soapAction="http://tempuri.org/PersonerInfoNoEncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginIn">
      <soap12:operation soapAction="http://tempuri.org/LoginIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Customers">
      <soap12:operation soapAction="http://tempuri.org/Customers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stocks">
      <soap12:operation soapAction="http://tempuri.org/Stocks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="billUpload">
      <soap12:operation soapAction="http://tempuri.org/billUpload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonerInfo">
      <soap12:operation soapAction="http://tempuri.org/PersonerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonerInfoNoEncrypt">
      <soap12:operation soapAction="http://tempuri.org/PersonerInfoNoEncrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.0.0.15:9001/service/ServiceLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.0.0.15:9001/service/ServiceLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>